<div class="alert alert-success" role="alert" *ngIf="login$ | async">
  Welcome to activity monitor, dear user!

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Activity Monitor</h5>
      <h6 class="card-subtitle mb-2 text-muted">Welcome dear user!</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert" *ngIf="!(login$ | async)">
  Oops! You are logged out. Please login again...
</div>
